<h2> NOTHING HERE YET</h2>
{{#each}}
	<div class='text-center'>
		<h1>{{project.project_name}}</h1>
		<p class='m-2 text-uppercase'>Author of page: {{user.name}} </p>
		<p class='m-2 text-uppercase'>Page created on
			{{format_date project.date_created}}
		</p>
	</div>

	<div class='text-center'>
		<h3> <strong> Descritpion of the page:</strong> </h3>
		<p> <strong> {{project.desctription}} </strong></p>
	</div>

	<div class=''>
		<p> {{project.content}} </p>
	</div>
	<div>

		<input type='text' id='comment-box' placeholder='Enter comment' />
		<button id='post'>Post</button>
		<ul id='unordered'>

		</ul>
	</div>

	<script src='../public/js/comment.js'></script>

{{/each}}